*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.bloop
.metals
target/

# Exclude all files in the data/processed directory except .gitkeep
/data/processed/*
!/data/processed/.gitkeep

# Exclude all files in the data/raw directory except .gitkeep
/data/raw/*
!/data/raw/.gitkeep